grant 
{  
   permission java.security.AllPermission;
   permission java.lang.RuntimePermission "getenv.*";
   permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
};
